//--nav-link-text-color: rgb(86, 85, 148);
//--nav-link-text-color-hover: rgb(9, 9, 57);

$nav-link-text-color: rgb(86, 85, 148);
$nav-link-text-color-hover: rgb(9, 9, 57);

$button-email-bg-color: rgb(86, 85, 148);
$button-email-bg-color-hover: rgb(93, 92, 161);


$text-color1: rgb(25, 29, 38);
$text-color-h6: rgb(123, 136, 168);


$background-color: rgb(242, 245, 247);
$da: white;