@import "src/shared/variables";

.home {
  min-height: 700px;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__content {
    display: grid;
    grid-template-rows: 5fr 2fr 1fr;
  }

  &__content-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 150px;
    font-size: 64px;
    font-weight: 700;
  }

  &__content-email {
    background: $button-email-bg-color;
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;

    &:hover {
      background: $button-email-bg-color-hover;
    }

    a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: white;
    }
  }

  &__content-links {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;

    a {
      color: $nav-link-text-color;
      text-decoration: none;

      &:hover {
        color: $nav-link-text-color-hover;
        text-decoration: underline;
        text-underline-offset: 5px;
      }
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 20px;

    img {
      border-radius: 20px;
      height: 700px;
    }
  }
}

@media screen and (max-width: $mobile_screen) {
  .home {
    width: 100%;
    max-width: $mobile_screen;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    padding: 0 30px;

    & > :first-child {
      order: 2;
    }

    &__content {
      grid-template-rows: none;
    }

    &__content-text {
      padding: 0;
      font-size: 40px;
    }

    &__content-email {
      margin: 30px 0 20px 0;
    }

    &__image {
      img {
        height: 450px;
      }
    }
  }
}