.header {
  width: 100%;
  position: sticky;
  top: 0;
  padding: 34px 16px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  &--active {
    background: white;
    box-shadow: 0 6px 14px #0000001a;
  }

  &__content {
    width: 100%;
    max-width: 1200px;
    padding: 0 100px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}