@import "src/shared/variables";

.menu-item {
  text-align: right;

  a {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 40px;
    color: $nav-link-text-color;
  }

  &--big {
    a {
      margin: 0;
      font-size: 20px;
      font-weight: 700;
    }
  }

  &:hover, &:active {
    a {
      color: $nav-link-text-color-hover;
      text-decoration: underline;
      text-underline-offset: 7px;
    }
  }
}

@media screen and (max-width: $mobile_screen) {
  .menu-item {
    padding: 0 5px;

    a {
      font-size: 13px;
      margin-left: 0;
      line-height: 1.8;
    }

    &--big {
      padding: 10px 0;

      a {
        font-size: 25px;
        font-weight: 700;
      }
    }
  }
}