@import "../../shared/variables";

.footer {
  min-height: 200px;
  width: 100%;
  background: $button-email-bg-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;

  &__content {
    max-width: 1200px;
    font-style: italic;
    font-size: 20px;
  }
}
