@import "src/shared/variables";

.footer {
  min-height: 200px;
  width: 100%;
  background: $button-email-bg-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;

  &__content {
    max-width: 1200px;
    font-style: italic;
    font-size: 20px;
  }
}

@media screen and (max-width: $mobile_screen) {
  .footer {
    min-height: 300px;
    width: 100vw;
    padding: 0;

    &__content {
      margin: 30px;
      max-width: $mobile_screen;
    }
  }
}