@import "src/shared/variables";

.contacts {
  min-height: 700px;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0 100px 0;

  &__content {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 80px;
    font-size: 64px;
    font-weight: 700;
  }

  &__contact-data {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px 30px 0 30px;;
    font-size: 20px;
    font-weight: 700;
  }

  &__download-button {
    background: $button-email-bg-color;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    padding: 0 10px;
    margin: 30px 0 20px 0;

    &:hover {
      background: $button-email-bg-color-hover;
    }

    a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: white;
    }
  }

  &__data-row {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    line-height: 1.5;

    a {
      color: $nav-link-text-color;
      text-decoration: none;

      &:hover {
        color: $nav-link-text-color-hover;
        text-decoration: underline;
        text-underline-offset: 5px;
      }
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 20px;

    img {
      border-radius: 20px;
      height: 500px;
    }
  }
}

@media screen and (max-width: $mobile_screen) {
  .contacts {
    min-height: 1000px;
    padding: 0;

    &__content {
      max-width: $mobile_screen;
      display: grid;
      grid-template-columns: 1fr;

      & > :first-child {
        order: 2;
      }
    }

    &__title {
      padding-bottom: 20px;
      margin-top: 0;
      font-size: 36px;
    }

    &__contact-data {
      padding: 30px;
    }

    &__image {
      img {
        height: 450px;
      }
    }
  }
}